body{
    font-family: verdana;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #5c99ce, #00f2fe);
    font-weight: 700;
}

.content{
    border: 1px solid gray;
    text-align: left;
    padding: 30px;
    width: 300px;
    border-radius: 10px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.708);
}
.password-type-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.password-type-buttons label{
   padding: 10px;
}
.password-type-buttons input{
    padding: 10px;
}
.password-length{
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    border-bottom: 1px solid gray;
    align-items: center;
}
.password-length p{
    display: inline-block;
    border: 0.15px solid gray;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.password-length input{
    width: 180px;
    margin-right: 10px;
    height: 3px;
    cursor: pointer;
}
.generated-password{
    margin-bottom: 20px;
}
.generated-password input{
    height: 100px;
    min-height: 40px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
}
.new-password{
    text-align: center;
    
}
.new-password button{
    background-color: rgba(66, 162, 226, 0.4);
    border: 0.15px solid rgba(128, 128, 128, 0.4);
    padding: 5px 15px;
    border-radius: 10px;
    margin-right:20px ;
    font-family: verdana;
    font-size: 13px;
    cursor: pointer;
}
.new-password button:hover{
    opacity: 0.8;
}
#resultPassword {
    resize: none;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 5px;
}